---
#install tomcat

- name: add group "tomcat"
  group: name=tomcat

- name: tomcat_version check
  fail: msg="ERROR - required variable 'tomcat_version' missing."
  when: tomcat_version is not defined

- include: set-tomcat-version.yml

- name: get tomcat tarball (as tar.gz file)
  get_url: url="{{ tomcat_tarball_url }}" dest="/usr/local/tomcat-{{ tomcat_version }}.tar.gz" mode="u=rwx,g=r,o=r"

- name: untar the tomcat
  command: chdir=/usr 
           creates=/usr/local/tomcat-{{ tomcat_version }}
           bash -c "mkdir -m go=rx /usr/local/tomcat-{{ tomcat_version }}; /bin/tar zxvf /usr/local/tomcat-{{ tomcat_version }}.tar.gz -C /usr/local/tomcat-{{ tomcat_version }} --strip=1"

- name: link tomcat
  file: src="/usr/local/tomcat-{{ tomcat_version }}" dest=/usr/local/tomcat state=link
