---
# get jdk

- name: precondition - java_version
  fail: msg="ERROR - required variable 'java_version' missing."
  when: java_version is not defined

- include: set-role-variables.yml

- name: get JDK tarball (as tar.gz file)
  get_url: url="{{ jdk_tarball_url }}.tar.gz" dest="/usr/jdk-{{ jdk_version }}.tar.gz" mode="u=rwx,g=r,o=r" headers="Cookie:oraclelicense=accept-securebackup-cookie"


- name: untar the jdk
  unarchive: src="/usr/jdk-{{ jdk_version }}.tar.gz" dest="/usr/" mode="u=rwx,g=rx,o=rx" copy=no

- name: link jdk
  file: src="/usr/jdk{{ jdk_version }}" dest=/usr/j2se state=link