---
# get jdk

- name: precondition - java_version
  fail: msg="ERROR - required variable 'java_version' missing."
  when: java_version is not defined

- include: set-role-variables.yml

- name: get JDK tarball (as tar.gz file)
  get_url: url="{{ jdk_tarball_url }}.tar.gz" dest="/usr/{{ jdk_tarball_file }}.tar.gz" mode="u=rwx,g=r,o=r" headers="Cookie:oraclelicense=accept-securebackup-cookie"

- name: untar the jdk
  command: chdir=/usr /bin/tar xvf /usr/{{ jdk_tarball_file }}.tar.gz -C /usr/{{ jdk_tarball_file }} --strip=1 creates=/usr/{{ jdk_tarball_file }}

- name: link
  file: src="/usr/{{ jdk_tarball_file }}" dest=/usr/j2se state=link