# Systemd unit file for tomcat
[Unit]
Description=Apache Tomcat Web Application Container
After=syslog.target network.target

[Service]
Type=forking

Environment=JAVA_HOME=/usr/j2se
Environment=CLASSPATH=.;{{ tomcat_home }}/bin/bootstrap.jar:{{ tomcat_home }}/bin/tomcat-juli.jar;{{ tomcat_home }}/lib/servlet-api.jar;{{ tomcat_home }}/lib/jsp-api.jar;
Environment=CATALINA_PID={{ tomcat_home }}/temp/tomcat.pid
Environment=CATALINA_HOME={{ tomcat_home }}
Environment=CATALINA_BASE={{ tomcat_home }}
Environment='CATALINA_OPTS=-Xms{{ tomcat_catalina_opts_ms }} -Xmx{{ tomcat_catalina_opts_mx }} -server -XX:+UseParallelGC'
Environment='JAVA_OPTS=-Djava.awt.headless=true -Djava.security.egd=file:/dev/./urandom'

ExecStart={{ tomcat_home }}/bin/startup.sh
ExecStop=/bin/kill -15 $MAINPID

User={{ tomcat_runuser }}
Group={{ tomcat_rungroup }}

[Install]
WantedBy=multi-user.target