
- name: install packages
  yum: name={{ item }} state=present
  with_items:
    - rabbitmq-server

- name: Check if mq port is allowed
  shell: iptables -L | grep -q "Allow MQ"
  register: check_allow_mq
  ignore_errors: yes
  changed_when: no
  always_run: yes

- name: Allow mq port
  command: >
    iptables -A INPUT -p tcp -m tcp --dport {{ item }} -m state --state New -m comment --comment "Allow MQ port {{ item }}" -j ACCEPT
  with_items:
    - 25672
    - 15672
    - 5672
    - 4369
  when: check_allow_mq.rc != 0
  notify:
    - Save iptables and Restart
