---

- name: precondition - gatling cluster ssh key
  fail: msg="ERROR - required variable 'gatling_sshkey_public' missing."
  when: gatling_sshkey_public is not defined

- name: precondition - gatling cluster ssh key
  fail: msg="ERROR - required variable 'gatling_sshkey_private' missing."
  when: gatling_sshkey_private is not defined

- name: precondition - gatling run user
  fail: msg="ERROR - required variable 'gatling_run_user' missing."
  when: gatling_run_user is not defined


- name : get gatling files
  get_url: url="{{ gatling_download_url }}" dest="{{ gatling_dest }}.zip"

- name: untar the gatling
  command: chdir=/usr creates="{{ gatling_dest }}" bash -c "unzip -d {{ gatling_dest }} {{ gatling_dest }}.zip && f=("{{ gatling_dest }}"/*) && mv "{{ gatling_dest }}"/*/* "{{ gatling_dest }}" && rmdir "${f[@]}""

- name: link
  file: src="{{ gatling_dest }}" dest=/usr/local/gatling state=link

- name: put master file
  template: src=gatling_cluster_master.sh dest=/usr/local/gatling/bin/gatling_cluster_master.sh mode="u=rwx,g=rx,o=rx"
  when: "'gatling_master' in group_names"

- name: put slave file
  template: src=gatling_cluster_slave.sh dest=/usr/local/gatling/bin/gatling_cluster_slave.sh mode="u=rwx,g=rx,o=rx"
  when: "'gatling_slave' in group_names"

- name: put nginx config
  template: src=gatling.conf dest=/etc/nginx/conf.d/default/gatling.conf mode="u=rw,g=r,o=r"
  when: "'gatling_master' in group_names"

- name: put ssh key - private
  copy: src={{ gatling_sshkey_private }} dest="~{{ gatling_run_user }}/.ssh/gatling_sshkey.priv" mode="u=rw,g=,o=" owner="{{ gatling_run_user }}"

- name: put ssh key - public
  copy: src={{ gatling_sshkey_public }} dest="~{{ gatling_run_user }}/.ssh/gatling_sshkey.pub" mode="u=rw,g=,o=" owner="{{ gatling_run_user }}"

- name: add authorized_keys
  authorized_key: user={{ gatling_run_user }}  key="{{ lookup('file', '{{ gatling_sshkey_public }}') }}"
